<style>
  td{
    text-align: left;
  }
  table, th, td {
    border: 1px solid;
  }
  table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;

  }
  th,td{
    padding:15px;
  }
</style>

<div class="card my-5">
  <div class="card-body">
    <div>
      <div>
        <label for="firstName">
          First Name
        </label>
        <input id="firstName" type="text" [(ngModel)]="sClient.firstName">
        <label for="lastName">
          Last Name
        </label>
        <input id="lastName" type="text" [(ngModel)]="sClient.lastName">
        <label for="email">
          Email
        </label>
        <input id="email" type="text" [(ngModel)]="sClient.email">
        <label for="phoneNumber">
          Phone Number
        </label>
        <input id="phoneNumber" type="number" [(ngModel)]="sClient.phoneNumber">
        <label for="address">
          Address
        </label>
        <input id="address" type="text" [(ngModel)]="sClient.address">
      </div>



    <mat-accordion>
      <br><button class="button" type="submit" (click)="onAddProperty()" >Add Property</button><br><br>
      <h5>Properties ({{sClient.properties.length}})</h5>
      <mat-expansion-panel hideToggle *ngFor="let p of sClient.properties" >
        <mat-expansion-panel-header>
<!--          <mat-panel-title>Property - {{p.propertyType.name}} </mat-panel-title>-->
          <mat-panel-title>
            Property - {{p.propertyType.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{p.addressLine1}}{{p.addressLine2}}{{p.city}}{{p.postalCode}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-accordion>

          <label for="propertyname">Property Type</label>
          <select name="propertyname" id="propertyname" [(ngModel)]="p.propertyType.name">
            <option *ngFor="let t of propertyTypes">{{t.name}}</option>
          </select>
          <label for="addressline1">
            Address Line1
          </label>
          <input id="addressline1" type="text" [(ngModel)]="p.addressLine1">
          <label for="addressline2">
            Address Line2
          </label>
          <input id="addressline2" type="text" [(ngModel)]="p.addressLine2">
          <label for="city">
            City
          </label>
          <input id="city" type="text" [(ngModel)]="p.city">
          <label for="postalcode">
            Postal Code
          </label>
          <input id="postalcode" type="number" [(ngModel)]="p.postalCode">

          <br><br><button class="button" type="submit" (click)="onAddRoom(p.id)" >Add Room</button><br><br>
          <h5>Rooms ({{p.rooms.length}})</h5>

          <mat-expansion-panel hideToggle *ngFor="let r of p.rooms" >
            <mat-expansion-panel-header>
              <mat-panel-title>Room -  {{r.roomType.name}} </mat-panel-title>

            </mat-expansion-panel-header>
<!--            <p *ngFor="let r of p.rooms">{{r.roomType.name}}</p>-->

            <mat-accordion>
              <label for="roomname">Room Type</label>
              <select name="roomname" id="roomname" [(ngModel)]="r.roomType.name">
                <option *ngFor="let t of roomTypes">{{t.name}}</option>
              </select>

              <br><br><button class="button" type="submit" (click)="onAddUnit(p.id,r.id)" >Add Unit</button><br><br>

              <mat-expansion-panel hideToggle *ngFor="let u of r.units" >
                <mat-expansion-panel-header>
                  <mat-panel-title>Unit - {{u.unitName}} </mat-panel-title>
                </mat-expansion-panel-header>

                <label for="unitName">Unit Name</label>
                <input id="unitName" type="text" [(ngModel)]="u.unitName">

                <div>
                  <label for="category">Category</label>
                  <select name="category" id="category" [(ngModel)]="u.category">
                    <option *ngFor="let c of categories">{{c}}</option>
                  </select>
                  <label for="length">
                    Length
                  </label>
                  <input id="length" type="text" [(ngModel)]="u.length">
                  <label for="height">
                    Height
                  </label>
                  <input id="height" type="text" [(ngModel)]="u.height">
                  <label for="depth">
                    Depth
                  </label>
                  <input id="depth" type="text" [(ngModel)]="u.depth">
                  <label for="quantity">
                    Quantity
                  </label>
                  <input id="quantity" type="text" [(ngModel)]="u.quantity">

                  <label for="material">
                    Material
                  </label>
                  <select name="material" id="material" [(ngModel)]="u.material.name">
                    <option *ngFor="let m of materials">{{m.name}}</option>
                  </select>

                  <label for="finish">
                    Finish
                  </label>
                  <select name="finish" id="finish" [(ngModel)]="u.finish.name">
                    <option *ngFor="let m of materials">{{m.name}}</option>
                  </select>


                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
    </mat-accordion>


      <button class="button" type="submit" (click)="onSubmit()" >Save</button>
    </div><br><br>

</div>
</div>
